body{
    background-image:url(Asetts/images/close-up-of-tulips-blooming-in-field-royalty-free-image-1584131603.jpg)
}



h1{
    text-align: center;
    color:white;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}